.header {
 position: fixed;
 top: 0px;
 width: 100vw;
 height: 40px;
 left: 0px;
 right: 0px;
 background: rgb(0,119,182);
 background: linear-gradient(0deg, rgba(0,119,182,1) 0%, rgba(0,180,216,1) 100%);
 display: grid;
 grid-template-columns: repeat(5,1fr);
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 
 .title{
        
    grid-column: 1/4;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 30px;
        font-weight: 800;
        line-height: 30px;
        text-align:start;
        
    }
    span{
        color: white;
        font-weight: 300;
    }

    .logout{
        
        grid-column: 5;
        height: 40px;
        width: 50px;
        border: none;
        color: rgb(252, 252, 252);
       background: none;
        text-align: center;
        .lg{
            font-size: 30px;
            
            justify-content: center;
        }
        
    }
}