.login-pg{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;

    header {
    padding: 20px 25px;
    h3{
        color: rgb(33, 37, 41);
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }
    span{

        font-weight: 400;
    }

    h4{
        color: rgb(188, 202, 206);
        text-align:  center;
        font-size: 24px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
    //Footer
    footer
        {
            background: rgb(0,119,182);
            background: linear-gradient(0deg, rgba(0,119,182,1) 0%, rgba(0,180,216,1) 100%);
        
            border-top:1px solid white;
            padding:15px 25px;
           width: calc(100% - 50px);
           height: 45px;
        
        p{
            line-height: 10px;
            color: rgba(238, 238, 238, 0.533);
            text-align: center;
            
        }
        .link{
            color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 19px;
            text-decoration: none;
            
        }
        

       }
} 
